{% extends "recipe/base.html" %}
{% block main %}
<style>
  h1{
    text-align:center;
  }
  p{
    text-align: center;
    margin:50px;
  }
</style>
  <h1 text-align="center">ABOUT US</h1>
  <p>It's time to blend your soul with our recipes! On NutriBucket we provide you with various recipes to satisfy your taste buds along with the nutrition information for each recipe. Just explore, try, share and let us know about your experience. Any kind of suggestion, feedback, message is welcome, fill out the form in Contacts tab and get in touch with us. We would love to hear you!</p>
  <p>Love cooking? You can even add your recipes for everyone to try. Grab your toque chef!</p>
  <p>Happy Cooking!!</p>
{% endblock main %}